<div class="content-block">
    <form class="login-form" id="login" method="post" action="">
        <h1>Login</h1>
        <label for="">
            Email: <input class="input-text light-input" type="text" name="email" id="" placeholder="E-mail">
        </label>
        <label for="">
            Password: <input class="input-text light-input" type="password" name="password" placeholder="Password">
        </label>
        <button class="login-button" type="submit">login</button>
        <a class="active-text" href="./signup">dont have an account?</a>
    </form>
</div>