<div class="content-block">
    <form class="signup-form" id="signup" method="post">
        <h1>Sign up</h1>
        <label for="">Email: <input class="light-input input-text" type="email" name="email" placeholder="E-mail"></label>
        <label for="">Username: <input class="light-input input-text" type="text" name="username" placeholder="Username"></label>
        <label for="">Password: <input class="light-input input-text" type="password" name="password" placeholder="New Password"></label>
        <label for="">Confirm password: <input class="light-input input-text" type="password" name="confirmPassword" placeholder="Confirm Password"></label>
        <button class="signup-button" type="submit">signup</button>
        <a class="active-text" href="./login">already have an account?</a>
    </form>
</div>