<div dir="<%= locals.dir %>">
    <a class="active-text" href="/a/manage">Apartments's and Users's managment</a>
    <a class="active-text" href="/a/orders">orders</a>
    <a class="active-text" href="/a/reports">reports</a>
</div>