<header>
        <a class="ico" href="/"><img class="header-logo" src="/images/favicon.ico" alt="" width="50" height="50"></a>
        <style>#google_translate_element,.skiptranslate{display:none;}body{top:0!important;}</style>
        <div id="google_translate_element"></div>
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en', 
                    includedLanguages: '<%= locals.lang %>', 
                    autoDisplay: false
                }, 'google_translate_element');
                var a = document.querySelector("#google_translate_element select");
                a.selectedIndex=1;
                a.dispatchEvent(new Event('change'));
            }
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <% if (locals.user != null) { %>
            <a class="header-username txt" href="/u/profile"><%= locals.user %> </a>
        <% } else { %>
        <a class="header-login txt" href="/as/login">Login</a>
        <% } %>
</header>