<div class="background-shadow">
    <form dir="<%= locals.dir %>" class="set-lang-form" action="" method="post">
        <h1 class="light-text">select your default language</h1>
        <select class="option-div" name="lang" id="">
            <option selected value="default" disabled>--languages</option>
            <option value="en">english</option>
            <option value="ar">arabic</option>
        </select>
        <button class="search-button" type="submit">continue</button>
    </form>
</div>