<form dir="<%= locals.dir %>" action="" method="post">
    <div>
        <label for="">
            <textarea name="content" id="" cols="30" rows="10" placeholder="message content" style="resize: none;"></textarea>
        </label>
    </div>
    <button class="message-button" type="submit">send message</button>
</form>