<div class="profile-form">
    <% users.forEach(user => { %>
        <div class="form-row">
            <% if (user.isAdmin == true) { %>
                <a class="active-text" href="/a/adminPanel">Admin panel</a>
            <% } %>
            <a class="active-text" href="/u/manage">Manage account</a>
            <a class="active-text" href="/u/inbox">Inbox</a>
            <a class="active-text" href="/as/logout">Logout</a>
        </div>
        <div class="form-row">
            <h2><%= user.username %>'s profile</h2>
        </div>
        <div class="form-row">
            <h1>Name : <%= user.username %> </h1> 
        </div>
        <div class="form-row">
            <h1>Email : <%= user.email %> </h1> 
        </div>
        <% if (user.isAdmin == true) { %>
            <div class="form-row">
                <h1>Role : Admin</h1>
            </div>
        <% } else { %>
            <div class="form-row">
                <h1>Role : User</h1>
            </div>
        <% } %>
    <% }) %>
</div>