<form action="" method="post" class="light-text product-form">
    <div class="form-row" id="double">
        <label>
            Title: <input class="light-input input-text" type="text" name="title">
        </label>
        <label>
            Price: <input class="light-input input-number" type="number" name="price">
        </label>
    </div>
    <div class="form-row">
        <h2>Description: </h2><textarea name="description" class="text-field light-input"></textarea>
    </div>
    <div class="form-row" id="double">
        <label>
            Location: <input class="light-input input-text" type="text" name="location">
        </label>
        <label for="">
            reason: <input class="light-input input-text" type="text" name="reason">
        </label>
    </div>
    <div class="form-row">
        <label>
            Images: <input type="file" name="images" class="filepond upload-form">
        </label>
    </div>
    <button type="submit" class="create-button">create</button>
</form>